body {
  margin: 0;
}
p {
  margin: 1cm;
  padding: 2px;
  color: white;
  font-size: 1.3rem;
  text-wrap: balance;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1,
h2,
h3 {
  margin: 1cm;
  padding-bottom: 0;
  color: rgb(141, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

img {
  max-width: 100%;
}

header {
  background-color: rgb(141, 255, 255);
}

body {
  background-color: rgb(70, 70, 70);
}

dl {
  font-size: 1.3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 1cm;
  color: white;
}

.cta-botton {
  background-color: rgb(141, 255, 255);
  margin-left: 5%;
  padding: 10px 16px;
  font-size: 120%;
  border-radius: 10px;
  display: inline-block;
  border: 5px outset black;
}

.cta-botton:hover {
  color: white;
  background-color: black;
}
header :hover {
  color: white;
}
